[DEFAULT]

# location of files
LOG_FILE = tracker\db_files\log.txt
DB_FILE = tracker\db_files\my_db.db

# telegram data
# token of bot (send messages)
TELEGRAM_TOKEN =
# chat id of dst
TELEGRAM_CHATID =

