[DEFAULT]

# location of files
LOG_FILE = resources\db_files\log.txt
DB_FILE = resources\db_files\my_db.db
IMGS_FOLDER = resources\images\

# telegram data
# token of bot (send messages)
TELEGRAM_TOKEN =
# chat id of dst
TELEGRAM_CHATID =

